.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    position: relative;
}

.navbar_wrap {
    position: absolute;
    left: 20px;
    top: 20px;
}